<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template</title>
    <!-- Import Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    
    <div id="app">
        <div>
            <!--<form>-->
                <label for="nameInput">Name</label>
                <input type="text" id="nameInput" v-model="characterInput.name">

                <label for="levelInput">Level</label>
                <input type="number" step="1" id="levelInput" v-model="characterInput.level">

                <script>
                    populateRaceSelection()
                </script>
                <label for="raceInput">Race</label>
                <select id="raceInput" v-model="characterInput.race" @change="setValidClassesForRace">

                </select>



                <label for="classInput">Class</label>
                <select id="classInput" v-model="characterInput.class">

                </select>

                <label for="staminaInput">Stamina</label>
                <input type="number" step="1" id="staminaInput" v-model="characterInput.stamina">

                <label for="strengthInput">Strength</label>
                <input type="number" step="1" id="strengthInput" v-model="characterInput.strength">

                <label for="intellectInput">Intellect</label>
                <input type="number" step="1" id="intellectInput" v-model="characterInput.intellect">

                <label for="spiritInput">Spirit</label>
                <input type="number" step="1" id="spiritInput" v-model="characterInput.spirit">

                <label for="agilityInput">Agility</label>
                <input type="number" step="1" id="agilityInput" v-model="characterInput.agility">
                <br><br>
                
                <button @click="addCharacter">Add Character</button>

             <!--<form>-->
                       
        </div>
        <div v-for="(character, index) in characters" :key="index">
            <details>
                <summary>{{characterSummary(character)}}</summary>
                <div>
                    Stamina: {{ character.stamina }}
                </div>
                <div>
                    Strength: {{ character.strength }}
                </div>
                <div>
                    Strength: {{ character.strength }}
                </div>
                <div>
                    Intellect: {{character.intellect}}
                </div>
                <div>
                    Spirit: {{character.spirit}}
                </div>
                <div>
                    Agility: {{character.agility}}
                </div>     
                <div>
                    Crit Rating: {{character.critRating}}
                </div>     
                <div>
                    Total Health: {{character.totalHealth}}
                </div>    
                <div>
                    Total Mana: {{character.totalMana}}
                </div>   
            </details>
                 
        </div>
        
    </div>
    <!-- Import Javascript -->
    <script src="./js/main.js"></script>
    <!-- Mount App --> 
     <script> 
        const mountedApp = app.mount('#app') 
     </script>
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>